<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well well-lg">
      <div class="well well-lg" style="background: #fafafa;">
        <h1 class="form-header">Admin Dashboard</h1>
      </div>
      <ul>
        <li><%= link_to 'Manage Accounts', admin_accounts_path %></li>
        <li><%= link_to 'Manage Reservations', admin_reservations_path %></li>
      </ul>
    </div>
  </div>
</div>
