<div class="container">
  <div class="row">
        <% if @reservation.errors.any? %>
          <div class="col-md-8 col-md-offset-2 well well-lg master-well">
            <div class="panel panel-default warning">
                <div class="panel-heading" style="background: #f2dede">
                  <h3 class="form-header" style="color: #A94442;" >
                    Warning
                  </h3>
                </div>
                <div class="panel-body">
                  <ul style="font-size: 1.2em;">
                    <% @reservation.errors.full_messages.each do |msg| %>
                      <li><%= msg  %></li>
                    <% end %>
                  </ul>
                 </div>
            </div>
          </div>
        <% end %>

    <div class="container">
      <div class="row">
        <div id="schedule-control" class="col-md-2 col-md-offset-2 view-calendar btn btn-primary" style="margin-bottom: 50px;">View our current schedule</div>
      </div>
    </div>


    <div id="calendar" class="col-md-8 col-md-offset-2">
      <!-- <div class="show-calendar"></div> -->
    </div>

    <div class="col-md-8 col-md-offset-2 well well-lg master-well">
      <div class="well well-lg">
        <h1 class="form-header">Edit Reservation</h1>
      </div>